ul li {
    padding: 1px 1px;
    transition: 0.2s background;
    cursor: pointer;
  }
  ul li.selected {
   background: rgba(0, 0, 0, 0.08);
  }
  ul li:hover {
    background: #e6f0f2;
  }
  ul li + li {
    border-top: 1px solid #bfc8c9;
  }
  .sda { 
    background-color: #ffffff00;
  }