
.loadServer {
  position: absolute;
  z-index: 0;
  width: 20%;
  left: 0;
  animation: charging 1.2s linear infinite;
}
.bodyLetter {
  font-family: "Lato", sans-serif;
}
.about-me {
  letter-spacing: 1px;
}
.header-info {
  line-height: 1.8rem;
}
.transition-button-proyect-code { 
  transition: all .2s;
}
.transition-button-proyect-code > svg { 
  border-radius: 100%;
  transition: all .5s;
}
.transition-button-proyect-code:hover { 
  border-color: #fff;
  color: #fff;
}
#appendp > p { 
  transition: all .2s;
}
#appendp > p:hover { 
  color: #fff;

}

.transition-button-proyect-code:hover > svg { 
  background-color: black;
  fill: aliceblue;
}




@keyframes charging {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 3px));
  }
}
