.nav {
  width: 100%;
  background-color: #00295f;
  align-items: flex-start;
  z-index: 2;
  box-shadow: 1px 5px 7px #111720;
}

.menu-items {
  user-select: none;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  height:  calc(100vh - 46px);
  right: 0;
  width: 200px;
  transition: all 4.2s;
  background-color: #0f2d51;
  backdrop-filter: blur(10px);
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  font-weight: 300;
  animation: showNav .4s ease-in-out forwards;
  transform: translateX(200px);

}
.menu-items::after{ 
  content: "";
  width: 0px;
  height: 0px;
}
.useNavLetter {
  font-family: "subtitle";
  font-weight: 300;
}

.button-nav {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  height: 40px;
  margin-right: 10px;
  margin-top: 2px;
  gap: 0.45rem;
}
.button-nav > div {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  transition: all 0.6s;
  transform-origin: left;
}

.active-nav div:first-child {
  width: 36px;
  transform: rotate(36deg);
}
.active-nav div:nth-child(2) {
  opacity: 0;
  transform: rotate(38deg) translateY(-10px) translateX(-4px);
}

.active-nav div:nth-child(3) {
  width: 36px;
  transform: rotate(-36deg);

  //   background-color: #66ff00b7
}
.anim-modal { 
  opacity: 0;
  animation:opacity-modal .2s linear forwards ;
}

.svg-text div {
  border-radius: 6px;
  z-index: -1;
  width: max-content;
  display: none;
  opacity: 1;
  transition: opacity 0.2s;
}
.svg-text:hover div {
  text-transform: capitalize;
 display: inline-flex;
  z-index: 1;
  opacity: 1;
}

// @keyframes showNav {
//   100% { 
//     transform: translateX(0);
//   }
  
// }
// @keyframes opacity-modal {
//   100% { 
//     opacity: 1;
//   }
// }