.menu-items {
  user-select: none;
  text-align: left;
  padding-top: 60px;
  padding-left: 15px;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #0f2d51;
  backdrop-filter: blur(10px);
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.useNavLetter {
  font-family: "subtitle";
  font-weight: 200;
}

.button-nav {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  height: 40px;
  margin-right: 10px;
  margin-top: 2px;
  gap: 0.45rem;
}
.button-nav > div {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  transition: all 0.6s;
  transform-origin: left;
}

.active-nav div:first-child {
  width: 36px;
  transform: rotate(36deg);
}
.active-nav div:nth-child(2) {
  opacity: 0;
  transform: rotate(38deg) translateY(-10px) translateX(-4px);
}

.active-nav div:nth-child(3) {
  width: 36px;
  transform: rotate(-36deg);

  //   background-color: #66ff00b7
}
