.text-services-class { 
    line-height: 1;
}


.move-left-to-right { 
 animation: left-right 2s forwards;
}


.move-right-to-left { 
    animation: right-left 2s  forwards;
}

@keyframes left-right {
    100% { 
        transform: translateX(100%);
    }
}
@keyframes right-left {
    100% { 
        transform: translateX(-100%);
    }
}