svg {
  cursor: pointer;
}
#Vector,
#Vector_2,
#Vector_3 {
  transition: all 0.1s ease;
}

svg:hover #Vector {

  animation: normal-rebote 1s linear infinite;
}
svg:hover #Vector_2 {
  
  animation: normal-rebote 1s linear infinite;
}
svg:hover #Vector_3 {
 
  animation: normal-rebote 1s linear infinite;
}

@keyframes normal-rebote {
  50% {
    transform: translateY(10%);

  }
}
