$timeInit: 12;
.carrousel {
	padding-top: 5px;
	display: flex;
	gap: .25rem;
	height: 60px;

	background-color: transparent;
	position: relative;
	overflow-x: hidden;
}

.carrousel img {
	width: auto;
	animation: rool $timeInit + s + ' ' linear infinite;
	transition: all 5s;
}
